<!DOCTYPE html>
<html>
<%= render partial: "tab" %>
  <head>
  </head>
  
  <body class="basic_image">  
    <section class="intro">
      <p class="joinus"> Review </h8>
      <p class="congra2">후기를 남겨주세요.</h8>
      <img src='/assets/key-tool.png'>
      <br>
    </section>
    
    <div id="row4">
      <form action ="/review/create" method="POST" enctype="multipart/form-data">
        <hr>
        <div id="form">
          <div class="box">
            <div class="box2">
            <h8>카테고리 |
              <input type="radio" name="category" value="미용실후기"> 미용실 후기
              <input type="radio" name="category" value="미용제품후기"> 미용제품 후기
              <input type="radio" name="category" value="셀프시술후기"> 셀프시술 후기
              <input type="radio" name="category" value="공지사항"> 공지사항 <br>
   
            <h8> (1)제목   <input type="text" name="title" size="50">  </h8> <br>
            <h8> (2)내용   <input type="text" name="content" size="50"> </h8> <br>
  
            <h8> (3)사진   <input type="file" name="imageURL" size="20"> </h8> <br>
            <h8> (4)좋아요  | 어떻게 해야될 지 아직 모르겠어요ㅠ</h8>
            </div>
          </div>
          <input type="submit">제출
        </div>
      </form>
    </div>
  </body>
  <%= render partial: "footer" %>
</html>