<footer class="footer">

    <img src="#" alt="">
    <p class="explain">
      여기에는 픽미업과 관련한 기본 정보 등을 담을 예정입니당
    </p>
    <p class="copyright">&copy;2017 Pickmeup. All Rights Reserved.</p>
  
</footer>