<!DOCTYPE html>
<html>
  <head>
    <script type ="text/javascript">
  	$(document).ready(function)() {
  		$('.zcms ul li').hover(function() {
  			$(this).children().children('a').fadeIn(200);
  		},function(){
  			$(this).children().children('a').fadeOut(200);
  		});
  	});
    </script>	
  </head>
  
  <body class="basic_image">
      <%= render partial: "tab" %>
      	<div id="row3">
                    <section class="intro">
              				<p class="congra2">원하는 서비스를 선택해주세요.</p>

              			 </section>
              		<div class="container">		 
              		  <div class="row4">
                        <a href= "/home/request_confirm_user" >
                        <img src='/assets/request.n.png' width="200px" height="200px" class="image">
                        </a>

                        <a href= "/review/list">
                        <img src='/assets/Review.n.jpg' width="200px" height="200px" class="image">
                        </a>
                        
                        <a href= "/home/reserve_user">
                        <img src='/assets/reserve.n.png' width="200px" height="200px" class="image">
                        </a>

                        <a href= "/home/hairshop">
                        <img src='/assets/hairshop.n.png' width="200px" height="200px" class="image">
                        </a>

                        <a href= "/home/mypage_user">
                        <img src='/assets/mypage.n.png' width="200px" height="200px" class="image">
                        </a>
                        
                        
              		  </div>
                  </div>
            </div>  			 
                  
                  
      <!--<%= render partial: "footer" %>-->
  </body>
</html>           
