<head>
        
</head>
 <body class="basic_image">  
        <section class="intro">
            <br>
  		<p class="joinus1">Congratulations!</p>
  		<br>
  		<p class="congra1">회원가입을 축하드립니다.</p>
  		
  	    
  		<br>
  		<a href="/home/index" class="btn bg px-4 py-3" style="margin-bottom:20px;">로그인하기</a>
  		<br>
        </section>
       
       
       <div id="visual">
          <div id="video-bg">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/yJxB3xvihBg?&amp;autoplay=1&amp;loop=1&playlist=yJxB3xvihBg frameborder=" frameborder="0" allowfullscreen style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px" height="100%" width="100%"></iframe>
          </div>
        </div>
        
        
        
        
       
</body>
                