<!DOCTYPE html>
<%= render partial: "tab" %>
<body class="basic_image">
    <div class="container2"> 
             <section id="registered_shops" class="section">
                <header class="section_header">
                  <section class="intro">
                    <p class="joinus">견적</p>
                    <p class="congra">견적내주기</p>
                    <img src="/assets/hairshops.png">
                    <br>
            	    </section>
                </header>
              </section>
              
  <div id="row10"> 
 <form action="/home/estimate_company/<%= @estimate.id %>" method="POST" enctype="multipart/form-data" class="form1">
   <label> * 업체 이름 | <input type="title" value="<%= @company.companyName %>" disabled></label><br>
   <label> * 견적 내용 | </label><br>
   <textarea rows="10" cols="100" name="content"></textarea><br>
   <input type="submit" value="제출">
 </form>
     </div>
 </div>
</body>
<%= render partial: "footer" %>