<!DOCTYPE html>
<body class="basic_image">
            <script>
            var userTypeCheck = false;
            var userNameCheck = false;
            var genderCheck = false;
            var emailCheck = false;
            var passwordCheck = false;
            var phoneNumCheck= false;
            var birthCheck= false;
            var addressCheck= false;
            
            function formCheck(){
                if ($("#userName").val() != ""){
                    userNameCheck = true;
                }
                if ($("#phoneNum").val() != ""){
                    phoneNumCheck = true;
                }
                if ($("#birth").val() != ""){
                    birthCheck = true;
                }
                if ($("#address").val() != ""){
                    addressCheck = true;
                }
                if ($("input[name=gender]:checked").val() != null){
                    genderCheck = true;
                }
                if($("input[name=userType]:checked").val() != null){
                    userTypeCheck = true;
                }
                if(emailCheck&&passwordCheck&&userNameCheck&&phoneNumCheck&&birthCheck&&addressCheck&&genderCheck&&userType){
                    console.log("FORM PERFECT!!")
                    return true;
                }else{
                    console.log("---------------------------------------------------");
                    console.log("gender : " + $("input[name=gender]:checked").val());
                    console.log("userType : " + $("input[name=userType]:checked").val());
                    console.log("genderCheck : " + genderCheck);
                    console.log("userTypeCheck : " + userTypeCheck);
                    console.log("emailCheck : " + emailCheck);
                    console.log("nameCheck : " + userNameCheck);
                    console.log("passwordCheck : " + passwordCheck);
                    console.log("addressCheck : " + addressCheck);
                    console.log("address : " + $("#address").val());
                    console.log("phoneNumCheck : " + phoneNumCheck);
                    console.log("birthCheck : " + birthCheck);
                    console.log("birth : " + $("#birth").val());
                    swal(
                        "",
                        "Plz, Check your FORM!",
                        "warning");
                    return false;
                }
            };
            
            // 아이디 중복체크를 위한 AJAX
             $(function(){
                 var emailConfirm = $("#confirmEmail");
                 emailConfirm.click(function(){
                    $.ajax({
                      method: "POST",
                      url: "/home/emailConfirm",
                      datatype : "JSON",
                      data: {"email" : $("#email").val()},
              	      success : function(json) {
                		  if (json.confirm){
                		      emailCheck = false;
                		      swal(
                		          "사용 불가 아이디"
                		          );
                		  }else{
                		      emailCheck = true;
                		      swal(
                		          "사용 가능 아이디"
                		          );
                		  }
              	      }
                    });
                 });
                
                  $('#password').keyup(function(){
                   $('font[name=check]').text('');
                  }); //#password.keyup
                
                  $('#passwordConfirm').keyup(function(){
                   if($('#password').val()!=$('#passwordConfirm').val()){
                    $('font[name=check]').text('');
                    $('font[name=check]').html("비밀번호 불일치");
                    $('font[name=check]').css("color","red");
                    passwordCheck = false;
                   }else{
                    $('font[name=check]').text('');
                    $('font[name=check]').html("비밀번호 일치");
                    $('font[name=check]').css("color","blue");
                    passwordCheck = true;
                   }
                  }); //#passwordConfirm.keyup
                  $("#selectBirth").change(function(){
                     $("#birth").val($(this).val()); 
                  });
             });
            </script>
            <!--아래의 div는 주소 검색을 위한 창입니다.-->
            <div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
                <img src="//t1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()" alt="닫기 버튼">
            </div>
            
            <section class="intro">
            	<p class="joinus"> Join us </p>
            	<p class="congra">회원가입을 환영합니다.</p>
            	<br>
            </section>


    <div class="pink">         
            <div class="container">	
            		<section class="intro2">
            				<strong><p style="font-size:20px;">기본정보</p></strong>
            				<p>회원가입을 위한 필수 입력 항목</p>
            		
            		</section>
            			<hr width="100%">
            			<div class="sign_up">
            				<form action="/register_user" method="POST" onsubmit="return formCheck();" class="adjust">
            				    <label>* 회원유형<input type="radio"  id="userType" name="userType" value="user">고객</input>
            				    <input type="radio" name="userType" id="userType" value="company">업체</input></label><br>	<hr width="76%" align="left"; >
            				    <label>* 이메일<input type="email" id="email" name="email"></label>
            				    <input type="button" id="confirmEmail" value="중복체크">
            				    <br>
            				    	<hr width="76%" align="left"; >
            				    <label>* 비밀번호<input type="password" id="password" name="password"></label>
            				    <label>비밀번호 확인<input type="password" id="passwordConfirm" name="password_confirmation"></label>
            				     <font name="check" size="2" color="red"></font><br>
            				     	<hr width="76%" align="left"; >
            				    <label>* 이름<input type="title" id="userName" name="userName"></label><br>
            				   	<hr width="76%" align="left"; >
            				    <label>* 전화번호<input type="title"  id="phoneNum" name="phoneNum" placeholder="ex. 01023451234"></label><br>
            				    	<hr width="76%" align="left"; >
            				    <label>* 태어난년도
            				    <select id="selectBirth">
            				    	<% 
            				    	for i in 1960..2017
            				    	%>
            				    		<option value="<%=i%>"><%=i%></option>
            				    	<%
            				    	end
            				    	%>
            					</select>
            				    <input hidden id="birth" name="birth"></input></label><br>
            				    	<hr width="76%" align="left"; >
            				    <label>* 성별<input type="radio"  id="gender" name="gender" value="M">남자</input>
            				    <input type="radio" name="gender" id="gender" value="F">여자</input></label><br>
            				   	<hr width="76%" align="left"; >
            				    
            
            <script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js?autoload=false"></script>
            <script>
            
                // 우편번호 찾기 화면을 넣을 element
                var element_layer = document.getElementById('layer');
            
                function closeDaumPostcode() {
                    // iframe을 넣은 element를 안보이게 한다.
                    element_layer.style.display = 'none';
                }
                
                function sample2_execDaumPostcode() {
                    daum.postcode.load(function(){
                        new daum.Postcode({
                            oncomplete: function(data) {
                                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                
                                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                document.getElementById('address').value = data.bname2;
                                document.getElementById('addressTextbox').value = data.bname2;
                                
                                // iframe을 넣은 element를 안보이게 한다.
                                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                                element_layer.style.display = 'none';
                            },
                            theme: {
                				       bgColor: "#FFB6B9", //바탕 배경색
                					   searchBgColor: "#FFFFFF", //검색창 배경색
                					   contentBgColor: "#FFFFFF", //본문 배경색(검색결과,결과없음,첫화면,검색서제스트)
                					   pageBgColor: "#FFB6B9", //페이지 배경색
                					   emphTextColor: "#C01160" //강조 글자색
                					   },
                    		width : '100%',
                            height : '100%',
                            maxSuggestItems : 5
                        }).embed(element_layer);
                    });
                    // iframe을 넣은 element를 보이게 한다.
                    element_layer.style.display = 'block';
            
                    // iframe을 넣은 element의 위치를 화면의 가운데로 이동시킨다.
                    initLayerPosition();
                }
            
                // 브라우저의 크기 변경에 따라 레이어를 가운데로 이동시키고자 하실때에는
                // resize이벤트나, orientationchange이벤트를 이용하여 값이 변경될때마다 아래 함수를 실행 시켜 주시거나,
                // 직접 element_layer의 top,left값을 수정해 주시면 됩니다.
                function initLayerPosition(){
                    var width = 500; //우편번호서비스가 들어갈 element의 width
                    var height = 400; //우편번호서비스가 들어갈 element의 height
                    var borderWidth = 5; //샘플에서 사용하는 border의 두께
            
                    // 위에서 선언한 값들을 실제 element에 넣는다.
                    element_layer.style.width = width + 'px';
                    element_layer.style.height = height + 'px';
                    element_layer.style.border = borderWidth + 'px solid';
                    // 실행되는 순간의 화면 너비와 높이 값을 가져와서 중앙에 뜰 수 있도록 위치를 계산한다.
                    element_layer.style.left = (((window.innerWidth || document.documentElement.clientWidth) - width)/2 - borderWidth) + 'px';
                    element_layer.style.top = (((window.innerHeight || document.documentElement.clientHeight) - height)/2 - borderWidth) + 'px';
                }
            </script>
            
            
            				    <label>* 주소 
            				    <input hidden type="text" id="address" name="address">
            				    <input disabled id="addressTextbox" placeholder="주소를 검색해주세요"></input>
            				    </label>
            				    <input id="confirmEmail" type="button" onclick="sample2_execDaumPostcode()" value="주소 찾기"><br>
            				    	<hr width="76%" align="left"; >


            				    <div class="row2">
            				     	<a href="/home/introduce" class="btn bg px-4 py-3">취소하기</a>
            				        <input type="submit" class="btn bg px-4 py-3" value="회원가입">
            				    </div>
            				</form>
            			</div>
            		</div>
            		<!--<%= render partial: "footer" %>-->
</body>
</html>
