<!DOCTYPE html>
<html>
                <head>
                        <style>
                        body {
                            font-family: "Lato", sans-serif;
                        }
                        
                        .sidenav {
                            height: 100%;
                            width: 0;
                            position: fixed;
                            z-index: 1;
                            top: 0;
                            left: 0;
                            background-color: #111;
                            overflow-x: hidden;
                            transition: 0.5s;
                            padding-top: 60px;
                        }
                        
                        .sidenav a {
                            padding: 8px 8px 8px 32px;
                            text-decoration: none;
                            font-size: 20px;
                            color: #818181;
                            display: block;
                            transition: 0.3s;
                        }
                        
                        .sidenav a:hover, .offcanvas a:focus{
                            color: #f1f1f1;
                        }
                        
                        .sidenav .closebtn {
                            position: absolute;
                            top: 0;
                            right: 25px;
                            font-size: 36px;
                            margin-left: 50px;
                        }
                        
                        @media screen and (max-height: 450px) {
                          .sidenav {padding-top: 15px;}
                          .sidenav a {font-size: 18px;}
                        }
                        </style>
                </head>
                <body>
                        <div id="mySidenav" class="sidenav">
                          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                          <a href="/home/request_user">견적 요청</a>
                          <a href="/review/list">후기 Talk</a>
                          <a href="/home/hairshop">Hairshop</a>
                          <a href="#">마이페이지</a>
                        </div>
                        
                        <span style="font-size:60px;cursor:pointer" class="side_nav" onclick="openNav()">&#9776;</span>
                        
                        <script>
                        function openNav() {
                            document.getElementById("mySidenav").style.width = "250px";
                        }
                        
                        function closeNav() {
                            document.getElementById("mySidenav").style.width = "0";
                        }
                        </script>
                </body>
</html> 




<!--업체의 회원가입을 위한 페이지-->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
 $(function(){
  $('#user_pass').keyup(function(){
   $('font[name=check]').text('');
  }); //#user_pass.keyup

  $('#chpass').keyup(function(){
   if($('#user_pass').val()!=$('#chpass').val()){
    $('font[name=check]').text('');
    $('font[name=check]').html("비밀번호 불일치");
   }else{
    $('font[name=check]').text('');
    $('font[name=check]').html("비밀번호 일치");
   }
  }); //#chpass.keyup
 });
</script>
<!--이메일의 경우, 이미 사용자가 있는지 확인하는 것도 필요...-->


  <section class="intro">
				<p class="joinus"> Join us </p>
				<p class="congra">회원가입을 환영합니다.</p>
				<br>
			</section>

  <div class="container">	
  		<section class="intro2">
  				<strong><p style="font-size:20px;">기본정보</p></strong>
  				<p>회원가입을 위한 필수 입력 항목</p>
  				<hr>
  		</section>
		
    <div class="sign_up">		
      <form id="insert_form" action="/register_company" method="POST">
          <label>* 이메일<input type="email" name="email" id="email" placeholder="email"></label>
          <input type="button" id="confirmEmail" value="중복체크">
		        <span id="email_signed"></span><br>
          <hr>
          <label>* 비밀번호<input type="password" id="user_pass" name="password"></label>
          <label>비밀번호 확인<input type="password" id="chpass" name="password_confirmation"></label><br>
          <font name="check" size="2" color="red"></font><br>
          <hr>
          <label>* 업체이름<input type="title" id="ha" name="userName"></label><br>
          <hr>
          <label>* 전화번호<input type="title" id="ha" name="phoneNum" placeholder="ex. 0211112222"></label><br>
          <hr>
          <label>* 개업날짜<input type="title" id="ha" name="birth" placeholder="ex. 20150101"></label><br>
          <hr>
          <label>* 주소<input type="text" id="ha" name="address"></label><br>
          <hr>
             <div class="row2">
      		     	 <a href="/home/introduce" class="cancel">취소하기</a>
      		    	<input type=submit class="bg2" value="회원가입">
      </form>
    </div>
</div>

    <footer class="footer">
      <div class="pickmeup_logo">
        <img src="#" alt="">
        <p class="explain">
          여기에는 픽미업과 관련한 기본 정보 등을 담을 예정입니당
        </p>
        <p class="copyright">&copy;2017 Pickmeup. All Rights Reserved.</p>
      </div>
    </footer>